html {
  font-size: 62.5%;
  color: red;
}

.app {
  height: 100vh;
  min-width: 100%;
  position: relative;
  background-color: rgb(36, 38, 38);
}

.app__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92.5%;
  height: 90%;
  border-radius: 1rem;
  background-color: #F0F7F4;
  box-shadow: inset 2px 6px 20px 1px rgba(0,0,0,0.31);
}

#editor__container {
  height: 50%;
  position: relative;
  font-family: monospace;
}

#editor__heading, #preview__heading {
  color: rgb(64, 118, 242);
  font-weight: bold;
  font-size: 2rem;
  padding: 1.2rem 1rem;
  font-family: monospace;
}

#editor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  min-width: 95%;
  height: 70%;
  border: none;
  background-color: #F0F7F4;
  resize: none;

}

#editor:focus {
  outline: none;
}

#preview {
  height: 50%;
}

#preview__view {
  padding-left: 3rem;
}

#app__division {
  width: 100%;
  height: 2%;
  background-color: rgb(179, 212 ,189);
}
