.App {
  display: flex;
  background-image: linear-gradient(to right, #fff, #F7796D);
  height: 100vh;
}

#editor, #preview {
  margin: 1%;
  border: 1.5px solid #fff;
  width: 50%;
  height: 90vh;
}

#editor {
  border: 1.5px solid #F7796D;
}
